body
  {
  background-color:white;
  }
h1
  {
  background-color:DodgerBlue;"
  }
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}


.h1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
}

.h2 {
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
}
