a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
#active {
  color: red;
}
.blue {
  color: blue;
}
<!--
.h1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
}

.h2 {
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
}
-->
