a {
  color: blue;
  font-size: 20px;
  border-bottom: 5px solid gray;
  margin: 0;
  padding: 20px;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 5px solid gray;
  margin: 0;
  padding: 20px;
}
#active {
  color: red;
}
.blue {
  color: blue;
}

